# Gradle
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.iml
.kotlin/

# CMake / NDK
android/app/.cxx/
android/app/src/main/cpp/CMakeFiles/
android/app/src/main/cpp/cmake_install.cmake
android/app/src/main/cpp/Makefile

# misc
*.log
.DS_Store